@model IEnumerable<Bewander.ViewModels.ReviewViewModel>

@using Microsoft.AspNet.Identity
<img id="bImage" src="~/Images/Home/menu-cafe.jpg" style="left:0%;">

<div id="reviews" class="tab-pane active in" role="tabpanel">
    <section id="HomeIndex">

        <div id="slideshow" class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <ul>
                        @foreach (var item in Model)
                        {
                            <li class="review-container">
                                <div class="row">
                                    <div class="col-sm-7 place-details">
                                        @*<h3>@Html.ActionLink(item.PlaceName, "DisplayReviews", "Reviews", new { item.PlaceID }, null)</h3>*@
                                        @*<a href='@Url.Action("DisplayReviews", "Reviews", @item.PlaceID)'><h3>@item.PlaceName</h3></a>*@
                                        <h6><span class="glyphicon glyphicon-map-marker"></span>@item.City, @item.State @item.Country</h6>
                                        <h5> @Html.DisplayFor(modelItem => item.SubjectType)</h5>
                                        <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                                        <article>

                                            @if (item.ImageID != null)
                                            {
                                  <img class="review-container" style="max-height: 200px; width: 100%; object-fit:contain" src="~/Images/@item.UserID/@item.Pathname" />
                                            }

                                        </article>
                                        <h3 class="place-name"></h3>
                                        <div class="review-body">
                                            <p>
                                                <span class="fa fa-quote-left" style="padding-right:5%;"></span>
                                                @Html.DisplayFor(modelItem => item.Body)
                                                <span class="fa fa-quote-right" style="padding-left:5%"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 text-right" id="review-icons">
                                        @Stars(item.StarRating)
                                        <br />
                                        @for (int i = 0; i < item.CostRating; i++)
                                        {
                                <i class="fa fa-usd dollar-icon"></i>
                                        }
                                        <br />
                                        <h5>@Html.DisplayFor(modelItem => item.DatePosted)</h5>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                   <!--JR4-->
                    <section id="RevConfirm">
                        <h3>Review Created Successfully!</h3>
                        @*<h4>Click Here for Others!</h4>*@
                      <h4> @Html.ActionLink("Click Here for Others!", "ProfilePage", "Users", new { userID = User.Identity.GetUserId(), tab = "reviews"}, null)</h4>
                            <i class="fa fa-globe fa-8x" style="color: cornflowerblue;" aria-hidden="true"></i>

                    </section>
                    </>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- C# Methods -->
@helper Stars(int? StarRating)
{
switch (StarRating)
{
    case 1:
            <i class="fa fa-star-half-o star-icon"></i>
        break;
    case 3:
            @StarCount(StarRating);
        break;
    case 5:
            @StarCount(StarRating);
        break;
    case 7:
            @StarCount(StarRating);
        break;
    case 9:
            @StarCount(StarRating);
        break;
    default:
        for (int i = 0; i < StarRating; i += 2)
        {
                <i class="fa fa-star star-icon"></i>
        }
        break;
}

}

@helper StarCount(int? StarRating)
{
for (int i = 0; i < StarRating - 1; i += 2)
{
        <i class="fa fa-star star-icon"></i>
}
    <i class="fa fa-star-half-o star-icon"></i>
}
